
# User-specific files
*.suo

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

*.DotSettings.user

nugets/