version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
before_build:
- ps: nuget restore
build:
  project: Fody.sln
  verbosity: minimal
artifacts:
- path: nugets\*.nupkg
- path: *.received