<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.9" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.9" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="ObjectApproval" version="1.2.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.124" targetFramework="net45" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.0.0.124" targetFramework="net45" />
</packages>